#▬-▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬-▬▬▬▬▬▬▬▬-▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬-▬▬▬▬▬▬▬▬-▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬-▬▬▬▬🬴🬫
#
#    █████╗  ███╗   ██╗  ██████╗  ███████╗ ██╗                  ██████╗  ███████╗            ██████╗  ███████╗ ██╗   ██╗
#   ██╔══██╗ ████╗  ██║ ██╔════╝  ██╔════╝ ██║                 ██╔═══██╗ ██╔════╝            ██╔══██╗ ██╔════╝ ██║   ██║
#   ███████║ ██╔██╗ ██║ ██║  ███╗ █████╗   ██║        █████╗   ██║   ██║ █████╗     █████╗   ██║  ██║ █████╗   ██║   ██║
#   ██╔══██║ ██║╚██╗██║ ██║   ██║ ██╔══╝   ██║        ╚════╝   ██║   ██║ ██╔══╝     ╚════╝   ██║  ██║ ██╔══╝   ╚██╗ ██╔╝
#   ██║  ██║ ██║ ╚████║ ╚██████╔╝ ███████╗ ███████╗            ╚██████╔╝ ██║                 ██████╔╝ ███████╗  ╚████╔╝
#   ╚═╝  ╚═╝ ╚═╝  ╚═══╝  ╚═════╝  ╚══════╝ ╚══════╝             ╚═════╝  ╚═╝                 ╚═════╝  ╚══════╝   ╚═══╝
#                                                                                             LICENSED UNDER THE 𝗘𝗨𝗣𝗟.
#
#▬-▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬-▬▬▬▬▬▬▬▬-▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬-▬▬▬▬▬▬▬▬-▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬-▬▬▬▬🬴🬫
#   SYSTEM RESERVED
#▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬🬴🬫
~$*
*~
*~.*
#▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬🬴🬫
#   BUILD & TEST
#▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬🬴🬫
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Bb]uild[Ll]og.*
MigrationBackup/
[Tt]est[Rr]esult*/
*.coverage*
*.binlog
#▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬🬴🬫
#   LOCAL USER
#▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬🬴🬫
*.suo
*.user
*.DotSettings.user
#▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬🬴🬫
#   CODE EDITORS
#▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬🬴🬫
.vs/
.idea/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
#▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬🬴🬫
#   PACKAGES & TOOLS
#▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬🬴🬫
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
node_modules/
.data/
.nuxt/
.output/
#▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬🬴🬫
